
{{#if page}}
  <h2>{{page}}</h2>
{{/if}}

{{#input}}
  <p>
    <label>{{title}}</label>
    <input class="input" type="number" pattern="[0-9]" name="{{title}}">
  </p>
{{/input}}

{{#if submit}}
  <input type="submit" class="submit" data-rel="{{rel}}" title="update">
{{/if}}
