body{
  margin: 0;
  background: #0D3441;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

.container{
  margin: 2%;
  @media screen and (min-width: 600px) {
    max-width: 600px;
    margin: 2% auto;
  }
}

h1, h2, h3{
  &.h1{
    color: #05FB92;
  }
  &.h2{
    color: lighten(#68074E, 25%);
  }
  &.h3{
    color: lighten(#0D3441, 40%);
  }
}

p{
  label{
    width: 100%;
    font-weight: bold;
    text-align: center;
    display: block;
  }
  input{
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.2em;
  }
}

.menu{
  display: flex;
}

.btn{
  display: block;
  position: relative;
  font-size: 2em;
  color: #0D3441;
  border: none;
  box-sizing: border-box;
  padding: 10px 30px;
  margin: 0px;
  margin-right: 4px;
  flex-grow: 1;

  &:last-child{
    margin-right: 0px;
  }

  &.submit{
    background: #BEEF97;
    &:hover{
      background: lighten(#BEEF97, 10%);
    }
  }

}

//http://www.colourlovers.com/pattern/5624466/Substantial_Beauty
