body{
  margin: 0;
  background: #0D3441;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

@spades: #6b3f8e;
@hearts: #933e3e;
@clubs: #427534;
@diamonds: #3f5091;

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?swk6tl');
  src:  url('../fonts/icomoon.eot?swk6tl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?swk6tl') format('truetype'),
    url('../fonts/icomoon.woff?swk6tl') format('woff'),
    url('../fonts/icomoon.svg?swk6tl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spades:before {
  content: "\e917";
}
.icon-clubs:before {
  content: "\e918";
}
.icon-diamonds:before {
  content: "\e919";
}
.icon-heart:before {
  content: "\e9da";
}

.suit{
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  top: 0;
  padding: 1.5em;
  &.d{
    &:before{
      font-family: 'icomoon' !important;
      content: "\e919";
      color: @diamonds;
    }
  }
  &.h{
    &:before{
      font-family: 'icomoon' !important;
      content: "\e9da";
      color: @hearts;
    }
  }
  &.c{
    &:before{
      font-family: 'icomoon' !important;
      content: "\e918";
      color: @clubs;
    }
  }
  &.s{
    &:before{
      font-family: 'icomoon' !important;
      content: "\e917";
      color: @spades;
    }
  }
}

.container{
  padding-left: 3%;
  padding-right: 3%;
  margin: auto;
  @media screen and (min-width: 600px) {
    max-width: 600px;
  }
  padding-bottom: 120px;
}

h1, h2{
  &.h1{
    color: #05FB92;
  }
  &.h2{
    color: lighten(#68074E, 25%);
  }
  &.h3{
    color: lighten(#0D3441, 50%);
  }

  text-align: center;
  font-size: 3.3em;
  @media screen and (max-width: 600px) {
    font-size: 15vw;
  }
  font-weight: normal;
  margin: 1vw 0;
}

.center{
  text-align: center;
}

p{
  label{
    width: 100%;
    font-weight: bold;
    text-align: center;
    display: block;
  }
  input{
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.2em;
  }
}

.menu{
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
  background: fade(#0D3441, 80%);
  box-sizing: border-box;
  border-top: 1px solid #fff;
}

.btn{
  display: block;
  position: relative;
  font-size: 1em;
  color: #0D3441;
  border: none;
  box-sizing: border-box;
  padding: 10px 30px;
  margin: 0px;
  margin-right: 4px;
  flex-grow: 1;

  &:hover{
    background: lighten(#68074E, 70%);
  }

  &:last-child{
    margin-right: 0px;
  }

  &.submit{
    background: #BEEF97;
    &:hover{
      background: lighten(#BEEF97, 10%);
    }
  }

  &.results{
    background: lighten(#0D3441, 50%);
    &:hover{
      background: lighten(#0D3441, 70%);
    }
  }

}

.barhold{
  height: 42px;
  .bar{
    height: 42px;
    float: left;
    display: inline-block;
  }
}

.all{
  border-bottom: 1px solid #fff;
  padding-bottom: 50px;
  .balance{
    .barhold{
      background: #000;
      .bar{
        background: #fff;
      }
    }

    p{
      overflow: auto;
      margin: 0px;
      span{
        float: right;
      }
    }
  }

  .houses{
    p{
      display: flex;
      span{
        display: block;
        position: relative;
        display: inline-block;
        text-align: center;
        &:nth-child(1){
          min-width: 70px;
          text-align: left;
        }
        &:nth-child(2){
          min-width: 70px;
        }
        &:nth-child(3){
          min-width: 102px;
        }
        &:nth-child(4){
          min-width: 62px;
          text-align: right;
        }
      }
    }
    .barhold{
      display: flex;
      background: @spades;
      .bar{
        &:nth-child(1){
          background: @hearts;
        }
        &:nth-child(2){
          background: @clubs;
        }
        &:nth-child(3){
          background: @diamonds;
        }
      }
    }
  }

}

.data{
  border-bottom: 1px solid #fff;
  overflow: auto;
  display: block;
  position: relative;
  h3{
    clear: both;
    min-height: 1px;
    span{
      float: right;
    }
  }
}

//http://www.colourlovers.com/pattern/5624466/Substantial_Beauty
